@import "compass";
@import "compass/reset";

$key_color: #3fe4fe;

#wrapper {
    font-family: sans-serif;
}

#header {
    $height: 44px;

    height: $height;
    background-color: $key_color;
    h1 {
        line-height: $height;
        text-align: center;
        color: white;
    }
}

#canvas-drip {
    display: block;
    margin: auto;

    background-image: image-url('bg_pause.png');
    background-position: center center;
    background-repeat: no-repeat;
    @include background-size(160px 185px);

    &.active {
        background-image: image-url('bg_play.png');
    }
}

@import "components/form_bpm";