<% function content (buf) { %>
<section id="wrapper">
<canvas id="canvas-drip"></canvas>
<footer id="form-bpm">
<button id="btn-bpmdown">ー</button>
<input id="input-bpm" type="number" />
<button id="btn-bpmup">＋</button>
<!-- /#form-bpm --></footer>
<!-- /#wrapper --></section>
<% } %><% include layouts/default %>
