#form-bpm {
    $font_size: 26px;

    font-family: sans-serif;

    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    margin: 0.5em 0em;

    #num-bpm {
        font-size: $font_size;

        display: inline-block;
        text-align: center;
        border: none 0px white;

        padding: 0em 1em;
    }

    button {
        font-size: $font_size; 
    }
}