#form-bpm {
    $font_size: 26px;

    font-family: sans-serif;

    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 44px;
    text-align: center;

    background-color: $key_color;

    #num-bpm {
        color: white;
        font-size: $font_size;

        display: inline-block;
        text-align: center;
        border: none 0px white;

        padding: 0em 1em;
    }

    button {
        font-size: $font_size; 
        border-style: none;
        background-color: transparent;
        color: white;
    }
}