#form-bpm {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    margin: 1em 0em;
}

#input-bpm {
    display: inline-block;
    -webkit-appearance: none;
}